* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  background-image: url('../img/fondoTotal.webp');
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow: hidden !important;
 
}

p {
  margin: 15px 0;
}

/* cambia tanto página principal como lose-page*/
#start-page,    
#lose-page {
  height: 600px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 30px;
 
  background: linear-gradient(0deg, rgba(0, 34, 59, 1) 0%, rgba(2, 123, 199, 1) 100%);
  color: rgb(0, 0, 0);
  background-image: url('../img/fondoStart.jpg');
 
}

#text-start {
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  text-shadow: 0px 0px 5px rgb(36, 249, 3);
  filter: drop-shadow(0 0 15px rgba(17, 255, 4, 0.913)) drop-shadow(0 0 50px #ff0000) contrast(1) brightness(1.9);
}




/*cambia solo lose-page*/
#lose-page {
  display: none;
  background-image: url('../img/DS.jpg');
  color: rgb(0, 255, 153);
}



#win-page {
  height: 600px;
  width: 1000px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

#win-page {
  display: none;
  background-image: url('../img/fondoTotal.webp');
  color:yellow;
}


button#start,
button#start-again {
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 20px;
  border: none;
  margin: 10px 0;
  background-color: lightgoldenrodyellow;
  filter: drop-shadow(0 0 25px #e20e0e) drop-shadow(0 0 50px #ed0f0f) contrast(2) brightness(2);
    transition: .5s;

}

  button#start:hover,
  button#start-again:hover {
 /* background: linear-gradient(0deg, rgba(221, 218, 154, 1) 0%, rgba(228, 21, 38, 0.781) 100%);*/
  color: rgb(0, 0, 0);
  background-color: #e20e0e;
}


/*#start {
   
  color: #db3eb1;
  border: 6px solid #da2dac80;
  border-radius:15px;
  padding: 15px 25px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing:5px;
  cursor: pointer;
  font-weight: bolder;
  filter: drop-shadow(0 0 15px #f70f0f) drop-shadow(0 0 50px #e51717) contrast(1.5) brightness(1.5);
  transition: .5s;
}

#start:hover {
  color: black;
  background-color: #db3eb1;
  filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
}*/

#try-again {
  position: absolute;
  margin: 0 -100px;
}

canvas {
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  background-image: url('../img/yoda.jpg');
  background-size: cover;
  margin-bottom: 50px;
}

.hidden {
  display: none;
}

.shown {
  display: flex;
}

