* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");



body {
  background-image: url('../img/fondoTotal.webp');
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow: hidden !important;
  cursor: url('../img/falcon.png'),
  auto;
}

p {
  margin: 15px 0;
}


#start-page {
  background-image: url('../img/fondoStart.jpg');
}

/* cambia tanto página principal como lose-page*/
#start-page,    
#lose-page {
  height: 600px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 30px;
  background: rgb(0, 34, 59);
  background: linear-gradient(0deg, rgba(0, 34, 59, 1) 0%, rgba(2, 123, 199, 1) 100%);
  color: yellow;
  background-image: url('../img/fondoStart.jpg');
  background-color: black;
}
/*cambia solo lose-page*/
#lose-page {
  display: none;
  background-image: url('../img/DS.jpeg');
  color: rgb(0, 255, 153);
}



#win-page {
  height: 600px;
  width: 1000px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  

}

#win-page {
  display: none;
  background-image: url('../img/fondoTotal.webp');
  color:yellow;
  
}


button#start,
button#start-again {
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 20px;
  border: none;
  margin: 10px 0;
  background-color: lightgoldenrodyellow;
}

button#start:hover,
button#start-again:hover {
  background: linear-gradient(0deg, rgba(221, 218, 154, 1) 0%, rgba(2, 123, 199, 1) 100%);
  color: white;
}

#try-again {
  position: absolute;
  margin: 0 -100px;
}

canvas {
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  background-image: url('../img/yoda.jpg');
  background-size: cover;
  margin-bottom: 50px;
}

.hidden {
  display: none;
}

.shown {
  display: flex;
}

